@import url('../../../node_modules/reset-css/reset.css');

img {
    display: block;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

input {
    vertical-align: middle;
}

table {
    margin: 0 auto;
}

table,
tr,
th,
td {
    border: 0.1em solid;
}

tr {
    background: #fff;
}

th {
    position: sticky;
    top: 0;
}

th,
td {
    vertical-align: middle;
    padding: 0.2em;
    background: inherit;
}

.pointer {
    cursor: pointer;
}

.i-arrow-up::before {
    content: '\2191';
}

.i-arrow-down::before {
    content: '\2193';
}

.i-country-us::before {
    content: '\1f1fa \1f1f8';
}

.i-country-cz::before {
    content: '\1f1e8 \1f1ff';
}

.i-country-fr::before {
    content: '\1f1eb \1f1f7';
}

.i-country-it::before {
    content: '\1f1ee \1f1f9';
}

.i-country-de::before {
    content: '\1f1e9 \1f1ea';
}

.i-country-ne::before {
    content: '\1f1f3 \1f1ea';
}

.i-country-ru::before {
    content: '\1f1f7 \1f1fa';
}

.i-country-pl::before {
    content: '\1f1f5 \1f1f1';
}

.game-list {
    max-width: 1024px;
}

.footer {
    margin: 2em auto;
    display: table;
    text-align: center;
}
