[{:title "Games - Bohemia boards and brews"
  :description "List of games at Bohemia boards and brews."
  :project "bbb"
  :label "bohemiaboardsandbrews.com"}
 {:title "Games - FYFT"
  :description "List of games at FYFT."
  :project "fyft"
  :label "fyft.cz"}
 {:title "Games - Herní prostor"
  :description "List of games at Herní prostor."
  :project "hp"
  :label "herniprostor.cz"}
 {:title "Games - Mana Potion"
  :description "List of games at Mana Potion."
  :project "mp"
  :label "manapotion.cz"}
 {:title "Games - Municipal Library of Prague"
  :description "List of games at Municipal Library of Prague"
  :project "mlp"
  :label "mlp.cz"}
 {:title "Games - Peklo, nebe, ráj"
  :description "List of games at Peklo, nebe, ráj."
  :project "pnr"
  :label "pekloneberaj.cz"}
 {:title "Games - Tlama games"
  :description "List of games at Tlama games."
  :project "tg"
  :label "tlamagames.cz"}]
