{:deps true

 :dev-http {9501 "resources/public"}

 :builds
 {:app {:modules {:cljs_base {}
                  :bbb_app {:entries [app.bbb-core]
                            :depends-on #{:cljs_base}}
                  :deskohub_app {:entries [app.deskohub-core]
                                 :depends-on #{:cljs_base}}
                  :fyft_app {:entries [app.fyft-core]
                             :depends-on #{:cljs_base}}
                  :geekarna_app {:entries [app.geekarna-core]
                             :depends-on #{:cljs_base}}
                  :hp_app {:entries [app.hp-core]
                           :depends-on #{:cljs_base}}
                  :pnr_app {:entries [app.pnr-core]
                            :depends-on #{:cljs_base}}
                  :tg_app {:entries [app.tg-core]
                           :depends-on #{:cljs_base}}
                  :the_grail_app {:entries [app.the-grail-core]
                                  :depends-on #{:cljs_base}}
                  :mlp_app {:entries [app.mlp-core]
                            :depends-on #{:cljs_base}}
                  :app {:entries [app.core]
                        :depends-on #{:cljs_base}}}
        :output-dir "resources/public/js"
        :asset-path "/js/compiled/app"
        :compiler-options {:source-map true}
        :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
        :release {:module-hash-names true}
        :devtools {:preloads [day8.re-frame-10x.preload.react-18]}
        :build-hooks [(build.hook/hook {:public-dir "resources/public"})]
        :target :browser}
  :test {:target :node-test
         :output-to "target/node-test.js"
         :ns-regexp "-test$"
         :devtools {:preloads [pjstadig.humane-test-output]}}}}
